<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ppc09.aapkatrade">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".dashboard.MyProfileActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.loginActivity"
            />
        <!-- <activity android:name=".dashboard.MyProfileActivity" /> -->
        <activity android:name=".dashboard.MyCompanyProfile" />
        <activity android:name=".dashboard.ChangePassword" />
        <activity android:name=".dashboard.AddCompany" />
        <activity android:name=".dashboard.CompanyList"></activity>
    </application>

</manifest>